
<p>This component demonstrates Bookmarks</p>
<h1>Bookmarked Repositories</h1>
<hr>
<div class="row">
  <div class="col-md-4" *ngFor="let repo of bookmarks; let i=index">
    <div class="card">
      <img src="{{ repo.owner.avatar_url }}" class="card-img-top" alt="{{ repo.name }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ repo.html_url }}">Github repo link</a>
        </h5>

        <h5 class="card-title">{{ repo.name }}</h5>
      </div>
    </div>
  </div>
</div>
